/////////////////////
//변수선언 ↓
/////////////////////
$img: "../img/";

/////////////////////
//'기본태그' ↓
/////////////////////
html {
	scroll-behavior: smooth;
}

body {
	overflow-x: hidden;
	font-family: 'Noto Sans', sans-serif !important;
	background-color: #2d2d34
}

header {
	z-index: 999999;
	padding: 30px 0px;
	width: 100%;
}

ul,
li {
	list-style: none;
	padding: 0px !important;
}

a {
	text-decoration: none;
	color: #333333;

	&:hover {
		color: #333333;
	}
}

/////////////////////
//'#wrapper' ↓
/////////////////////
#wrapper {
	width: 100%;
	min-height: 1500px;

	background: {
		image: url($img + "bg_1.jpg");
		position: center top;
		repeat: no-repeat;
	}

	&-2 {
		width: 100%;
		min-height: 1000px;

		background: {
			image: url($img + "bg_2.jpg");
			position: center bottom;
			repeat: no-repeat;
		}
	}

	&-3 {
		width: 100%;
		min-height: 1218px;

		background: {
			image: url($img + "bg_3.jpg");
			position: center top;
		}
	}

	&-4 {
		width: 100%;
		min-height: 270px;

		background: {
			image: url($img + "bg_4.jpg");
			position: center top;
			repeat: no-repeat;
		}
	}
}

/////////////////////
//'.bg' ↓
/////////////////////
@mixin bg_repeat_size {
	background: {
		repeat: no-repeat;
		size: cover;
	}
}

.bg {
	width: 100%;
	height: 1000px;
	//이미지를 화면에 가득채움
	@include bg_repeat_size;

	background: {
		image: url("/img/nitish-meena-99219.jpg");
		position: center center;
		//가로세로 위치를 지정함
		//이미지가 찌그러지지 않는 한도 내에서 제일 크게 설정. 
		//이미지의 가로세로비가 커버와 다르다면 이미지를 세로or가로방향으로 잘라내 빈 공간이 생기지 않도록 설정
		attachment: fixed;
		//어태치먼트 fixed값은 해당 이미지를 밀면서 전환함
		//해당 속성이 없을경우 이전 이미지가 밀리면서 전환되지않음
	}
}

.bg2 {
	height: 1000px;
	@include bg_repeat_size;
	background-image: url(/img/mahkeo-222765.jpg);
	background-position: top center;
	background-attachment: fixed;
}

.bg3 {
	height: 1000px;
	@include bg_repeat_size;
	background-image: url(/img/nitish-meena-111116.jpg);
	background-position: bottom center;
	background-attachment: local;
	//어태치먼트 local값은 이전이미지가 fixed 되어있으면 그 위로 타고 올라감(이전이미지도 local이면 일반 스크롤로보임)
}

/////////////////////
//'.gnb-title' ↓
/////////////////////
.gnb-title {
	&:hover {
		color: #333333;
	}

	&:after {
		background: none repeat scroll 0 0 transparent;
		top: 23px;
		content: "";
		display: block;
		height: 1px;
		left: 50%;
		position: absolute;
		background: #666666;
		transition: width 0.3s ease 0s, left 0.3s ease 0s;
		width: 0;
		z-index: 9999;
	}

	&:hover:after {
		width: 100%;
		left: 0;
	}
}

/////////////////////
//.dropmenu span:nth-child(#{$i}) .sub-title ↓
/////////////////////
$total: 6;

@for $i from 1 through $total {
	.dropmenu span:nth-child(#{$i}) .sub-title {
		background: white;
		display: none;
		height: auto;
		border: 0px;
		position: absolute;
		z-index: 200;
		text-align: left;
	}
}

.dropmenu {
	& span:nth-child(2) .sub-title {
		padding-left: 85px;
	}

	& span:nth-child(3) .sub-title {
		padding-left: 200px;
	}

	& span:nth-child(4) .sub-title {
		padding-left: 300px;
	}

	& span:nth-child(5) .sub-title {
		padding-left: 395px;
	}

	& span:nth-child(6) .sub-title {
		padding-left: 495px;
	}
}

// .dropmenu span:hover .sub-title {
//   display: block;
//   width: 100%;
//   left: 0;
//   min-height: 150px
// }

/////////////////////
//.dropmenu span:nth-child(#{$i}) .sub-title ↓
/////////////////////
.c-go-top {
	//background: none repeat scroll 0 0 padding-box #ffffff;
	//border: 1px solid #1099dd;
	background: linear-gradient(229deg, rgba(255, 0, 165, 80%), rgba(255, 0, 0, 0) 70.71%),
		linear-gradient(84deg, rgba(163, 0, 150, 80%), rgba(0, 255, 0, 0) 70.71%),
		linear-gradient(343deg, rgba(106, 45, 255, 100%), rgba(0, 0, 255, 0) 70.71%);
	bottom: 30px;
	border-radius: 4px;
	color: #333333;
	display: none;
	font-size: 12px;
	opacity: 1;
	padding: 7px 10px;
	position: fixed;
	right: 2%;
	text-decoration: none;
	z-index: 999;
	color: #ffffff !important;

	&:hover,
	&:focus,
	&:active,
	&:visited {
		color: #fff;
		outline: 0;
		text-decoration: none;
		background-color: #ef00ff;
		transition: 0.5s;
	}
}

/////////////////////
//.animation ↓
/////////////////////
%mover {
	animation: mover 2s infinite alternate;
	animation-delay: 350ms;
}

%mover-x {
	animation: mover-x 2s infinite alternate;
	animation-delay: 250ms;
}

.animation-move {
	@extend %mover;

	@at-root {
		.animation-move-x {
			@extend %mover-x;

			&-hover:hover {
				@extend %mover-x;
			}
		}

		.animation-move2 {
			@extend %mover;
		}

		.animation-blinkstar {
			animation: blinkstar 2s infinite alternate;
			animation-delay: 350ms;
		}

		.metor {
			animation: meteor 1s cubic-bezier(0, 0, 0.2, 1);
			animation-iteration-count: 1;
			animation-delay: 4s;
		}

		.metor2 {
			animation: meteor2 0.5s cubic-bezier(0, 0, 0.2, 1);
			animation-iteration-count: 1;
			animation-delay: 4.5s;
		}

		.metor3 {
			animation: meteor3 1.5s cubic-bezier(0, 0, 0.2, 1);
			animation-iteration-count: 1;
			animation-delay: 3.4s;
		}

		.metor4 {
			animation: meteor4 0.8s cubic-bezier(0, 0, 0.2, 1);
			animation-iteration-count: 1;
			animation-delay: 2.8s;
		}

		.intro {

			&:hover,
			&:focus {
				animation: borderPulse 2000ms 1 ease-out, hoverShine 100ms;
			}
		}
	}
}

/////////////////////
//.keyframes ↓
/////////////////////
@keyframes mover {
	0% {
		transform: translateY(0);
	}

	100% {
		transform: translateY(20px);
	}
}

// @keyframes mover-x {
// 	0% {
// 		transform: translatex(0);
// 	}

// 	100% {
// 		transform: translatex(20px);
// 	}
// }

@keyframes mover-x {
	0% {
		transform: translatex(-20px);
	}

	100% {
		transform: translatex(10px);
	}
}

@keyframes mover2 {
	0% {
		transform: translateY(-5px);
	}

	100% {
		transform: translateY(5px);
	}
}

@keyframes blinkstar {
	0% {
		transform: scale(1.00);
	}

	100% {
		transform: scale(1.50);
	}
}

@keyframes meteor {
	0% {
		opacity: 0.5;
	}

	40% {
		opacity: 2;
	}

	99% {
		top: 50%;
		left: 100%;
		opacity: 0;
	}
}

@keyframes meteor2 {
	0% {
		opacity: 0.5;
	}

	40% {
		opacity: 2;
	}

	100% {
		top: 45%;
		left: 100%;
		opacity: 0;
	}
}

@keyframes meteor3 {
	0% {
		opacity: 0.5;
	}

	100% {
		top: 60%;
		left: 100%;
		opacity: 2;
	}
}

@keyframes meteor4 {
	0% {
		opacity: 0.5;
	}

	100% {
		top: 25%;
		left: 100%;
		opacity: 1;
	}
}

@keyframes borderPulse {
	0% {
		box-shadow: inset 0px 0px 0px 1px rgba(255, 255, 255, .3), 0px 0px 0px 0px rgba(255, 255, 255, 1);
	}

	100% {
		box-shadow: inset 0px 0px 0px 1px rgba(117, 117, 255, .2), 0px 0px 0px 7px rgba(255, 255, 255, 0);
	}
}

@keyframes hoverShine {
	0% {
		background-image: linear-gradient(135deg, rgba(255, 255, 255, .4) 0%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0) 100%);
	}

	50% {
		background-image: linear-gradient(135deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .4) 50%, rgba(255, 255, 255, 0) 100%);
	}

	100% {
		background-image: linear-gradient(135deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, .4) 100%);
	}
}