html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  font-family: 'Noto Sans', sans-serif !important;
  background-color: #2d2d34;
}

header {
  z-index: 999999;
  padding: 30px 0px;
  width: 100%;
}

ul,
li {
  list-style: none;
  padding: 0px !important;
}

a {
  text-decoration: none;
  color: #333333;
}

a:hover {
  color: #333333;
}

#wrapper {
  width: 100%;
  min-height: 1500px;
  background-image: url("../img/bg_1.jpg");
  background-position: center top;
  background-repeat: no-repeat;
}

#wrapper-2 {
  width: 100%;
  min-height: 1000px;
  background-image: url("../img/bg_2.jpg");
  background-position: center bottom;
  background-repeat: no-repeat;
}

#wrapper-3 {
  width: 100%;
  min-height: 1218px;
  background-image: url("../img/bg_3.jpg");
  background-position: center top;
}

#wrapper-4 {
  width: 100%;
  min-height: 270px;
  background-image: url("../img/bg_4.jpg");
  background-position: center top;
  background-repeat: no-repeat;
}

.bg {
  width: 100%;
  height: 1000px;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("/img/nitish-meena-99219.jpg");
  background-position: center center;
  background-attachment: fixed;
}

.bg2 {
  height: 1000px;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(/img/mahkeo-222765.jpg);
  background-position: top center;
  background-attachment: fixed;
}

.bg3 {
  height: 1000px;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(/img/nitish-meena-111116.jpg);
  background-position: bottom center;
  background-attachment: local;
}

.gnb-title:hover {
  color: #333333;
}

.gnb-title:after {
  background: none repeat scroll 0 0 transparent;
  top: 23px;
  content: "";
  display: block;
  height: 1px;
  left: 50%;
  position: absolute;
  background: #666666;
  -webkit-transition: width 0.3s ease 0s, left 0.3s ease 0s;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
  z-index: 9999;
}

.gnb-title:hover:after {
  width: 100%;
  left: 0;
}

.dropmenu span:nth-child(1) .sub-title {
  background: white;
  display: none;
  height: auto;
  border: 0px;
  position: absolute;
  z-index: 200;
  text-align: left;
}

.dropmenu span:nth-child(2) .sub-title {
  background: white;
  display: none;
  height: auto;
  border: 0px;
  position: absolute;
  z-index: 200;
  text-align: left;
}

.dropmenu span:nth-child(3) .sub-title {
  background: white;
  display: none;
  height: auto;
  border: 0px;
  position: absolute;
  z-index: 200;
  text-align: left;
}

.dropmenu span:nth-child(4) .sub-title {
  background: white;
  display: none;
  height: auto;
  border: 0px;
  position: absolute;
  z-index: 200;
  text-align: left;
}

.dropmenu span:nth-child(5) .sub-title {
  background: white;
  display: none;
  height: auto;
  border: 0px;
  position: absolute;
  z-index: 200;
  text-align: left;
}

.dropmenu span:nth-child(6) .sub-title {
  background: white;
  display: none;
  height: auto;
  border: 0px;
  position: absolute;
  z-index: 200;
  text-align: left;
}

.dropmenu span:nth-child(2) .sub-title {
  padding-left: 85px;
}

.dropmenu span:nth-child(3) .sub-title {
  padding-left: 200px;
}

.dropmenu span:nth-child(4) .sub-title {
  padding-left: 300px;
}

.dropmenu span:nth-child(5) .sub-title {
  padding-left: 395px;
}

.dropmenu span:nth-child(6) .sub-title {
  padding-left: 495px;
}

.c-go-top {
  background: linear-gradient(229deg, #ff00a5, rgba(255, 0, 0, 0) 70.71%), linear-gradient(84deg, #a30096, rgba(0, 255, 0, 0) 70.71%), linear-gradient(343deg, #6a2dff, rgba(0, 0, 255, 0) 70.71%);
  bottom: 30px;
  border-radius: 4px;
  color: #333333;
  display: none;
  font-size: 12px;
  opacity: 1;
  padding: 7px 10px;
  position: fixed;
  right: 2%;
  text-decoration: none;
  z-index: 999;
  color: #ffffff !important;
}

.c-go-top:hover, .c-go-top:focus, .c-go-top:active, .c-go-top:visited {
  color: #fff;
  outline: 0;
  text-decoration: none;
  background-color: #ef00ff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.animation-move, .animation-move2 {
  -webkit-animation: mover 2s infinite alternate;
          animation: mover 2s infinite alternate;
  -webkit-animation-delay: 350ms;
          animation-delay: 350ms;
}

.animation-move-x, .animation-move-x-hover:hover {
  -webkit-animation: mover-x 2s infinite alternate;
          animation: mover-x 2s infinite alternate;
  -webkit-animation-delay: 250ms;
          animation-delay: 250ms;
}

.animation-blinkstar {
  -webkit-animation: blinkstar 2s infinite alternate;
          animation: blinkstar 2s infinite alternate;
  -webkit-animation-delay: 350ms;
          animation-delay: 350ms;
}

.metor {
  -webkit-animation: meteor 1s cubic-bezier(0, 0, 0.2, 1);
          animation: meteor 1s cubic-bezier(0, 0, 0.2, 1);
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
}

.metor2 {
  -webkit-animation: meteor2 0.5s cubic-bezier(0, 0, 0.2, 1);
          animation: meteor2 0.5s cubic-bezier(0, 0, 0.2, 1);
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-delay: 4.5s;
          animation-delay: 4.5s;
}

.metor3 {
  -webkit-animation: meteor3 1.5s cubic-bezier(0, 0, 0.2, 1);
          animation: meteor3 1.5s cubic-bezier(0, 0, 0.2, 1);
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-delay: 3.4s;
          animation-delay: 3.4s;
}

.metor4 {
  -webkit-animation: meteor4 0.8s cubic-bezier(0, 0, 0.2, 1);
          animation: meteor4 0.8s cubic-bezier(0, 0, 0.2, 1);
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-delay: 2.8s;
          animation-delay: 2.8s;
}

.intro:hover, .intro:focus {
  -webkit-animation: borderPulse 2000ms 1 ease-out, hoverShine 100ms;
          animation: borderPulse 2000ms 1 ease-out, hoverShine 100ms;
}

@-webkit-keyframes mover {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
}

@keyframes mover {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
}

@-webkit-keyframes mover-x {
  0% {
    -webkit-transform: translatex(-20px);
            transform: translatex(-20px);
  }
  100% {
    -webkit-transform: translatex(10px);
            transform: translatex(10px);
  }
}

@keyframes mover-x {
  0% {
    -webkit-transform: translatex(-20px);
            transform: translatex(-20px);
  }
  100% {
    -webkit-transform: translatex(10px);
            transform: translatex(10px);
  }
}

@-webkit-keyframes mover2 {
  0% {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
  100% {
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
  }
}

@keyframes mover2 {
  0% {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
  100% {
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
  }
}

@-webkit-keyframes blinkstar {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
}

@keyframes blinkstar {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
}

@-webkit-keyframes meteor {
  0% {
    opacity: 0.5;
  }
  40% {
    opacity: 2;
  }
  99% {
    top: 50%;
    left: 100%;
    opacity: 0;
  }
}

@keyframes meteor {
  0% {
    opacity: 0.5;
  }
  40% {
    opacity: 2;
  }
  99% {
    top: 50%;
    left: 100%;
    opacity: 0;
  }
}

@-webkit-keyframes meteor2 {
  0% {
    opacity: 0.5;
  }
  40% {
    opacity: 2;
  }
  100% {
    top: 45%;
    left: 100%;
    opacity: 0;
  }
}

@keyframes meteor2 {
  0% {
    opacity: 0.5;
  }
  40% {
    opacity: 2;
  }
  100% {
    top: 45%;
    left: 100%;
    opacity: 0;
  }
}

@-webkit-keyframes meteor3 {
  0% {
    opacity: 0.5;
  }
  100% {
    top: 60%;
    left: 100%;
    opacity: 2;
  }
}

@keyframes meteor3 {
  0% {
    opacity: 0.5;
  }
  100% {
    top: 60%;
    left: 100%;
    opacity: 2;
  }
}

@-webkit-keyframes meteor4 {
  0% {
    opacity: 0.5;
  }
  100% {
    top: 25%;
    left: 100%;
    opacity: 1;
  }
}

@keyframes meteor4 {
  0% {
    opacity: 0.5;
  }
  100% {
    top: 25%;
    left: 100%;
    opacity: 1;
  }
}

@-webkit-keyframes borderPulse {
  0% {
    -webkit-box-shadow: inset 0px 0px 0px 1px rgba(255, 255, 255, 0.3), 0px 0px 0px 0px white;
            box-shadow: inset 0px 0px 0px 1px rgba(255, 255, 255, 0.3), 0px 0px 0px 0px white;
  }
  100% {
    -webkit-box-shadow: inset 0px 0px 0px 1px rgba(117, 117, 255, 0.2), 0px 0px 0px 7px rgba(255, 255, 255, 0);
            box-shadow: inset 0px 0px 0px 1px rgba(117, 117, 255, 0.2), 0px 0px 0px 7px rgba(255, 255, 255, 0);
  }
}

@keyframes borderPulse {
  0% {
    -webkit-box-shadow: inset 0px 0px 0px 1px rgba(255, 255, 255, 0.3), 0px 0px 0px 0px white;
            box-shadow: inset 0px 0px 0px 1px rgba(255, 255, 255, 0.3), 0px 0px 0px 0px white;
  }
  100% {
    -webkit-box-shadow: inset 0px 0px 0px 1px rgba(117, 117, 255, 0.2), 0px 0px 0px 7px rgba(255, 255, 255, 0);
            box-shadow: inset 0px 0px 0px 1px rgba(117, 117, 255, 0.2), 0px 0px 0px 7px rgba(255, 255, 255, 0);
  }
}

@-webkit-keyframes hoverShine {
  0% {
    background-image: linear-gradient(135deg, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0) 100%);
  }
  50% {
    background-image: linear-gradient(135deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.4) 50%, rgba(255, 255, 255, 0) 100%);
  }
  100% {
    background-image: linear-gradient(135deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.4) 100%);
  }
}

@keyframes hoverShine {
  0% {
    background-image: linear-gradient(135deg, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0) 100%);
  }
  50% {
    background-image: linear-gradient(135deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.4) 50%, rgba(255, 255, 255, 0) 100%);
  }
  100% {
    background-image: linear-gradient(135deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.4) 100%);
  }
}
/*# sourceMappingURL=setting.css.map */